FB_APP_ID=your_meta_app_id
FB_APP_SECRET=your_meta_app_secret
FB_PAGE_ID=your_page_id
FB_PAGE_ACCESS_TOKEN=your_page_access_token
FB_GRAPH_BASE_URL=https://graph.facebook.com/v20.0

HF_API_TOKEN=your_huggingface_token
HF_API_BASE_URL=https://api-inference.huggingface.co/models
HF_SUMMARY_MODEL=facebook/bart-large-cnn
HF_TAGS_MODEL=facebook/bart-large-mnli
